header {
    background-color: #4ea0ff;
    background-image: url(../images/pattern.png);
    background-repeat: repeat-x;
    background-size: contain;
    background-size: 25% 200%;
}

#pattern {
    background-size: auto;
    background-repeat: repeat-x;

}



#logo {
    width: 150px;
    height: 75px;
    margin-top: 10px;

}

h1 {
    font-size: xx-large;
    margin-bottom: 2px;
}

#grey_1 {
    color: rgb(150, 150, 150);
    margin-top: 1px;
}

.grey {
    color: rgb(150, 150, 150);
    margin-top: 2px;
    margin-bottom: 2px;
}

#lightblue {
    color: rgb(8, 184, 238);
    margin-bottom: 2px;
    margin-top: 2px;
}

h3 {
    display: inline-block;
}

ul {
    margin-left: 4px;
    padding-left: 15px;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

table {
    text-align: left;
    border-collapse: collapse;
}

thead {
    background-color: hsl(198deg 79% 51%);
}

th {
    color: white;
}

.tcolor {
    background-color: hsl(192deg 71% 82%);

}

.grey2 {
    color: grey;
}

.footer1 {
    position: relative;

}

#loremf1 {
    position: absolute;
    top: 2.5px;
    left: 20px;
}

.loremf {
    color: aliceblue;
}

#loremf2 {
    position: absolute;
    top: 2.5px;
    left: 20px;
}